// Place all the styles related to the ChinesePosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row-phrase {
  &.active {
    background-color: lightgray;
  }
}

option[value=""] {
  display: none;
}

.table-admin {
  th {
    padding: 10px;
  }

  td {
    padding: 10px;
  }
}

.btn-create-post {
  margin-bottom: 10px;
}

.posts-pagination {
  margin: 0px;
}

.table-phrase {
  th {
    padding: 10px;
  }

  td {
    padding: 10px;
  }
}